@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Yanone+Kaffeesatz:wght@500&display=swap');
/* font-family: 'Sedgwick Ave', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.heading{
    font-family: 'Sedgwick Ave', cursive;
}
#location{
    font-size: 2em;
}
#temp{
    font-size:5em;
    position: relative;
}
#celcius{
    font-size: 2rem;
    position: absolute;
}